<div>
    <label>Saved filters list</label>
    <ul>
        <% Filter.all.each do |filter| %>
            <li>
                <%= filter_url(filter) %>
                <button class="btn btn-xs delete-filter-button" data-id="<%= filter.id %>">Delete</button>
            </li>
        <% end %>
    </ul>
</div>

<script>
    $('.delete-filter-button').click(function () {
        let $el = $(this)

        $.ajax({
            url: '/filter/delete/' +  $(this).data('id')
        })
        .done(function (answer) {
            if ( answer.success ) {
                $el.parent().remove()
            }
            else {
                alert(answer.message)
            }
        })
        .fail(function () {
            alert('Fail')
        })
    })
</script>