<div>
    <% @events.each do |event| %>
        <h2><%= event.title %> <span><%= event.city.title %></span></h2>
        <p><%= event.from %> - <%= event.to %></p>
        <%= event.themes.map(&:title).join(', ') %>
    <% end %>
    <%= paginate @events %>
</div>