<div>
    <h5>Filters</h5>

    <form id="filters">
        <div class="form-group">
            <label for="city">Select themes</label>
            <%= select :filter, :city_id, options_from_collection_for_select(City.all, "id", "title", @filter.city_id), {include_blank: "All cities"}, {id: "city"} %>
        </div>

        <div class="form-group">
            <label for="theme">Select themes</label>
            <%= select :themes, :ids, options_from_collection_for_select(Theme.all, "id", "title", @filter.themes.map(&:id)), {include_hidden: false}, {id: "theme", class: "form-control", multiple: true}  %>
        </div>

        <div class="form-group">
            <label>Select date range</label>
            <%= text_field :filter, :from, class: "form-control datefield", id: "date-from-field", placeholder: "Select from..." %>
            <%= text_field :filter, :to, class: "form-control datefield", id: "date-to-field", placeholder: "Select to..." %>
        </div>

        <button type="submit">Filter</button>
        <a href="<%= root_path() %>">Clear filter</a>
    </form>

    <form id="save-filter-form">
        <%= token_tag %>
        <input name="filter[title]" placeholder="Filter title"/>
        <button type="submit">Save filter</button>
    </form>

    <%= render "custom_fields_list" %>
</div>

<script>
    $("#save-filter-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '<%= save_filter_events_path %>',
            method: 'POST',
            data: $('#save-filter-form').serializeArray().concat($('#filters').serializeArray())
        })
    })
</script>
